@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Insert your text.</p>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="txtInputText" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Text</label>
    </div>
    <br>
    <button type="button" id="btnSearchButton" class="btn btn-outline-primary" style="text-transform: uppercase;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        Let's find the longest word.
    </button>

    <button type="button" id="btnClearText" class="btn btn-outline-warning" style="text-transform: uppercase;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
        </svg>
        CLEAR TEXT
    </button>
    <br><br>
    <div class="card p-4" id="tableText" style="display: none;">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Word</th>
                                <th scope="col">Number of letters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="result">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#btnClearText').click(function () {
            $('#txtInputText').val("");
            $('#tableText').fadeOut();
        });

        $('#btnSearchButton').click(function () {
            var inputText = $('#txtInputText').val();
            if (inputText == "" || inputText.trim() == "") {
                $('#txtInputText').val("");
                // $('#tableText').addClass("d-none");
                $('#tableText').fadeOut();
                return;
            }

            $.ajax({
                url: '@ViewBag.Api/Home/GetWordByMaxLong',
                type: 'POST',
                data: JSON.stringify({ text: inputText }),
                contentType: "application/json",
                success: function (data) {                    
                    if (data != null && data != undefined) {
                        $('#tableText').fadeIn();                        
                        FillTable(data);
                    }
                    else {
                        $('#tableText').fadeOut();                        
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                }
            });
        });
    });

    function FillTable(data) {
        var html = "<td>" + data.word + "</td><td>" + data.quantityLetters + "</td>";
        $('#result').html(html);
    }
</script>
